<div class="cart border border-radius-xl">
  <h4 class="text-green-dark text-bold mb-3">Giỏ hàng</h4>
  <div class="shopping-bag">
    <div class="list-group list-group-flush list">

      <div class="list-group-item">
        <div class="product-fig">
          <div class="img img-cover border-radius-xl"
            style="background-image: url('assets/img/demo/product-order-1.jpg');">
            <canvas width="120" height="120" class="ratio-scale"></canvas>
          </div>
        </div>
        <div class="product-content text-left">
          <a href="san-pham-chi-tiet.html" class="">
            <h4 class="text-green-dark ">Nấm mối đen</h4>
            <h5 class="text-secondary text-body">
              Loại khối lượng: 02 kg
            </h5>
          </a>
          <div class="product-price d-flex align-items-center">
            <h4 class="text-uppercase text-secondary price">500.000đ</h4>
          </div>
        </div>
      </div> <!-- .list-group-item -->

      <div class="list-group-item">
        <div class="product-fig">
          <div class="img img-cover border-radius-xl"
            style="background-image: url('assets/img/demo/product-order-1.jpg');">
            <canvas width="120" height="120" class="ratio-scale"></canvas>
          </div>
        </div>
        <div class="product-content text-left">
          <a href="san-pham-chi-tiet.html" class="">
            <h4 class="text-green-dark ">Nấm mối đen</h4>
            <h5 class="text-secondary text-body">
              Loại khối lượng: 02 kg
            </h5>
          </a>
          <div class="product-price d-flex align-items-center">
            <h4 class="text-uppercase text-secondary price">500.000đ</h4>
          </div>
        </div>
      </div> <!-- .list-group-item -->
    </div>
  </div>

  <hr>
  <div class="row justify-content-between">
    <div class="col-auto">
      <span>Thành tiền</span>
    </div>
    <div class="col-auto">
      <span>1.000.000đ</span>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-auto">
      <span>Khuyến mại</span>
    </div>
    <div class="col-auto">
      <span>- 200.000đ</span>
    </div>
  </div>
  <hr>
  <div class="row justify-content-between all">
    <div class="col-auto">
      <span>Tổng số tiền</span>
    </div>
    <div class="col-auto">
      <span class="text-bold text-primary">800.000đ</span>
    </div>
  </div>
</div>