<div class="news-item">
    <div class="news-fig">
        <div class="img img-cover border-radius-xl" style="background-image: url('@@figure');">
            <canvas width="380" height="254" class="ratio-scale"></canvas>
        </div>
    </div>
    <div class="news-content text-left">
        <h4 class="text-uppercase text-secondary news-type">@@category</h4>
        <h3 class="text-green-dark news-title ">@@title</h3>
        <h4 class="news-calendar text-secondary font-weight-light">
            <span class="icon mr-2">
                <img src="@@webRoot/assets/img/icons/calendar.svg" alt="..." class="d-block">
            </span>
            <span>@@date</span>
        </h4>
    </div>
    <a href="tin-tuc-chi-tiet.html" class="overlay"></a>
</div>