<footer class="main-footer">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xs-12 col-md-10">
                <h4 class="text-primary">Trụ sở chính</h4>

                <ul class="list-style-none list-info">
                    <li>
                        <span class="icon ">
                            <i class="fe fe-map-pin"></i>
                        </span>
                        <span> 106 đường số 13, Ấp Hàng Gòn, Xã Hàng Gòn, Thành phố Long Khánh, Tỉnh Đồng Nai, Việt
                            Nam</span>
                    </li>
                    <li>
                        <span class="icon ">
                            <i class="fe fe-phone"></i>
                        </span>
                        <span> Số điện thoại: 0923 242 526</span>
                    </li>
                    <li>
                        <span class="icon ">
                            <i class="fe fe-mail"></i>
                        </span>
                        <span>E-mail: info@lighthousegreen.com</span>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-2 text-left text-md-right">
                <h4 class="text-primary">Theo dõi chúng tôi</h4>

                <div class="row social-links">
                    <div class="col-3">

                        <a href="/" class="btn btn-rounded-circle btn-white text-primary btn-social" target="_blank"
                            rel="noopener noreferrer">
                            <img src="@@webRoot/assets/img/icons/facebook.svg" alt="..." class="">
                        </a>
                    </div>

                    <div class="col-3">
                        <a href={APP_ROUTES.BACHHAU.INDEX}
                            class="btn btn-rounded-circle btn-white text-primary btn-social" target="_blank"
                            rel="noopener noreferrer">
                            <img src="@@webRoot/assets/img/icons/youtube.svg" alt="..." class="">
                        </a>
                    </div>

                    <div class="col-3">
                        <a href={APP_ROUTES.UONVAN.INDEX}
                            class="btn btn-rounded-circle btn-white text-primary btn-social" target="_blank"
                            rel="noopener noreferrer">
                            <img src="@@webRoot/assets/img/icons/linkedin.svg" alt="..." class="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-statement img img-contain" style="background-image: url('assets/img/logo/BCT.png');">
            <canvas width="160" height="63" class="ratio-scale"></canvas>

        </div>

        <hr>
        <div class="row justify-content-between">
            <div class="col-xs-12 col-md-8">
                <p class="text-">© Copyright 2021 Lighthouse Green Corporation. All rights reserved.</p>
            </div>

            <div class="col-xs-12 col-md-4 text-left text-md-right">
                <a href="/">Điều khoản sử dụng </a>
                <span> |</span>
                <a href="/">Chính sách bảo mật</a>
            </div>
        </div>
    </div>

</footer>