<div class="modal fade site-modal privacy-policy" id="modalPolicy" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog " role="document">

    <div class="modal-content">

      <div class="modal-body">
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="display-2 serif text-primary">
          Chính sách bảo mật
        </h2>
        <p class="text-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam id elit dapibus, dapibus
          lorem
          vitae, mollis erat. Sed euismod commodo nulla vel hendrerit. Duis ac ullamcorper felis, non
          fermentum turpis. Proin ante justo, volutpat sed rutrum in, ullamcorper eget felis. Morbi
          quam
          purus, faucibus eget nunc quis, pellentesque imperdiet sapien. Nam tristique sagittis justo,
          in
          aliquet mi fermentum vel. Mauris sem ipsum, convallis ut tristique eu, tristique non augue.
        </p>
      </div>
    </div>

  </div>


</div>