<div class="modal fade site-modal shopping-bag buy-form" id="modalShoppingBag" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-body" data-toggle="lists" data-options='{"valueNames": ["name"]}'>
        <!-- Close -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="display-1 serif text-primary">
          Đơn hàng
        </h2>

        <!-- Form -->
        <form class="mb-4">
          <div class="list-group list-group-flush list">
            <div class="list-group-item">
              <div class="product-fig">
                <div class="img img-cover border-radius-xl"
                  style="background-image: url('assets/img/demo/product-order-1.jpg');">
                  <canvas width="143" height="143" class="ratio-scale"></canvas>
                </div>
              </div>
              <div class="product-content text-left">
                <a href="san-pham-chi-tiet.html" class="">
                  <h4 class="text-green-dark ">Nấm mối đen</h4>
                  <h5 class="text-secondary text-body">
                    Loại khối lượng: 02 kg
                  </h5>
                </a>
                <!-- Input -->
                <div>
                  <div class="btn input-group btn-group-toggle count-input rounded-pill bg-white">
                    <span class="" data-toggle="count">-</span>
                    <input name="countNumber" type="number" class="form-control input" value="1">
                    <span class="" data-toggle="count">+</span>
                  </div>
                </div>
                <!-- Delete -->
                <button class="btn btn-link small text-secondary text-underline p-0">
                  <small><u>Xoá đơn hàng</u></small>
                </button>
              </div>

              <div class="product-price text-center">
                <h4 class="text-uppercase text-secondary news-type">1.250.000đ</h4>
              </div>

            </div> <!-- / .list-group-item -->


            <div class="list-group-item">
              <div class="product-fig">
                <div class="img img-cover border-radius-xl"
                  style="background-image: url('assets/img/demo/product-order-1.jpg');">
                  <canvas width="143" height="143" class="ratio-scale"></canvas>
                </div>
              </div>
              <div class="product-content text-left">
                <a href="san-pham-chi-tiet.html" class="">
                  <h4 class="text-green-dark ">Nấm mối đen</h4>
                  <h5 class="text-secondary text-body">
                    Loại khối lượng: 02 kg
                  </h5>
                </a>
                <!-- Input -->
                <div>
                  <div class="btn input-group btn-group-toggle count-input rounded-pill bg-white">
                    <span class="" data-toggle="count">-</span>
                    <input name="countNumber2" type="number" class="form-control input" value="1">
                    <span class="" data-toggle="count">+</span>
                  </div>
                </div>
                <!-- Delete -->
                <button class="btn btn-link small text-secondary text-underline p-0">
                  <small><u>Xoá đơn hàng</u></small>
                </button>
              </div>

              <div class="product-price text-center">
                <h4 class="text-uppercase text-secondary news-type">500.000đ</h4>
              </div>

            </div> <!-- / .list-group-item -->
          </div>

          <hr>
          <div class="d-flex justify-content-between total">
            <h4 class="text-green-dark text-bold">Tổng giá trị</h4>
            <h4 class="text-secondary text-bold">1.000.000đ</h4>

          </div>
          <!-- Button -->
          <!-- <button type="submit" class="btn btn-primary rounded-pill">Thanh toán</button> -->
          <a href="don-hang.html" class="btn btn-primary rounded-pill">Thanh toán</a>
        </form>

      </div>
    </div>
  </div>
</div>