<div class="quick-buy">
  <div class="container">
    <form action="" class="buy-form">

      <ul class="list">

        <li class="item">
          <span class="text-green-dark text-bold name">Nấm mối đen</span>
          <h4 class="text-secondary text-uppercase text-bold mb-0">Khối Lượng</h4>
          <div class="input-group btn-group-toggle group-norm">
            <input type="radio" class="btn-check" name="quickbuyweight1" id="quickbuyweight1op1" autocomplete="off"
              checked="">
            <label class="btn btn-white rounded-pill font-weight-light" for="quickbuyweight1op1">
              1kg
            </label>

            <input type="radio" class="btn-check" name="quickbuyweight1" id="quickbuyweight1op2" autocomplete="off">
            <label class="btn btn-white rounded-pill font-weight-light" for="quickbuyweight1op2">
              2kg
            </label>

            <input type="radio" class="btn-check" name="quickbuyweight1" id="quickbuyweight1op3" autocomplete="off">
            <label class="btn btn-white rounded-pill font-weight-light" for="quickbuyweight1op3">
              4kg
            </label>
          </div>

          <h4 class="text-secondary text-uppercase text-bold mb-0">Số lượng</h4>
          <div class="group-large">
            <div class="btn input-group btn-group-toggle count-input rounded-pill bg-white">
              <span class="" data-toggle="count">-</span>
              <input name="quickbuyamount" type="number" class="form-control input" value="1">
              <span class="" data-toggle="count">+</span>
            </div>
          </div>
          <div class="group-large">
            <button class="btn btn-primary rounded-pill"> <span>250.000 VND</span> | Mua ngay</button>
          </div>

        </li>

        <!-- multiple items ? -->
        <!-- <li class="item">
                    <span class="text-green-dark text-bold name">Nấm mối trắng</span>
                    <h4 class="text-secondary text-uppercase text-bold mb-0">Khối Lượng</h4>
                    <div class="input-group btn-group-toggle group-norm">
                        <input type="radio" class="btn-check" name="quickbuyweight2" id="quickbuyweight2op1" autocomplete="off"
                            checked="">
                        <label class="btn btn-white rounded-pill font-weight-light" for="quickbuyweight2op1">
                            1kg
                        </label>

                        <input type="radio" class="btn-check" name="quickbuyweight2" id="quickbuyweight2op2" autocomplete="off">
                        <label class="btn btn-white rounded-pill font-weight-light" for="quickbuyweight2op2">
                            2kg
                        </label>

                        <input type="radio" class="btn-check" name="quickbuyweight2" id="quickbuyweight2op3" autocomplete="off">
                        <label class="btn btn-white rounded-pill font-weight-light" for="quickbuyweight2op3">
                            4kg
                        </label>
                    </div>

                    <h4 class="text-secondary text-uppercase text-bold mb-0">Số lượng</h4>
                    <div class="group-large">
                        <div class="btn input-group btn-group-toggle count-input rounded-pill bg-white">
                            <span class="" data-toggle="count">-</span>
                            <input name="quickbuyamount2" type="number" class="form-control input" value="1">
                            <span class="" data-toggle="count">+</span>
                        </div>
                    </div>
                    <div class="group-large">
                        <button class="btn btn-primary rounded-pill"> <span>250.000 VND</span> | Mua ngay</button>
                    </div>

                </li> -->


      </ul>

    </form>
  </div>
</div>