<nav
  class="navbar navbar-expand-xl @@if(navColor=='default'){navbar-light}@@if(navColor=='inverted' &&!demoMode){}@@if(navColor=='vibrant'){navbar-dark bg-vibrant}"
  id="topnav">
  <div class="container">

    <!-- Toggler -->
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand mr-auto" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/logo.svg" alt="..." class="navbar-brand-img">
    </a>

    <!-- Collapse -->
    <div class="collapse navbar-collapse mr-auto order-lg-1 order-4" id="navbar">

      <!-- Navigation -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link @@if(page=='index.html' || page=='login.html' || page=='register.html'){active}"
            href="index.html" id="topnavDashboards" role="button">
            Trang chủ
          </a>
        </li>
        <li class="nav-item dropdown">
          <a href="san-pham.html" class="nav-link d-inline-block d-lg-block @@if(category=='product'){active}" id="topnavProduct" role="button"
            aria-haspopup="true" aria-expanded="false">
            Sản phẩm
          </a>
          <span class="d-inline-block d-lg-none dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false">
          </span>

          <ul class="dropdown-menu" aria-labelledby="topnavProduct">
            <li class="dropright">
              <a class="nav-link text-truncate  @@if(subcategory=='product'){active}" href="san-pham-chi-tiet.html"
                id="topnavProduct1" role="button" aria-haspopup="true" aria-expanded="false">
                Sản phẩm #1
              </a>
            </li>
            <li class="dropright">
              <a class="nav-link text-truncate  @@if(subcategory=='product'){active}" href="san-pham-chi-tiet.html"
                id="topnavProduct2" role="button" aria-haspopup="true" aria-expanded="false">
                Sản phẩm #2
              </a>
            </li>
            <li class="dropright">
              <a class="nav-link text-truncate  @@if(subcategory=='product'){active}" href="san-pham-chi-tiet.html"
                id="topnavProduct3" role="button" aria-haspopup="true" aria-expanded="false">
                Sản phẩm #3
              </a>
            </li>
            <li class="dropright">
              <a class="nav-link text-truncate  @@if(subcategory=='product'){active}" href="san-pham-chi-tiet.html"
                id="topnavProduct4" role="button" aria-haspopup="true" aria-expanded="false">
                Sản phẩm #4
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if(page=='ve-chung-toi.html'){active}" href="ve-chung-toi.html" id="topnavAbout"
            role="button">
            Về chúng tôi
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link @@if(page=='tin-tuc-su-kien.html'){active}" href="tin-tuc-su-kien.html"
            id="topnavDocumentation" role="button">
            Tin tức sự kiện
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if(page=='cong-dong.html'){active}" href="cong-dong.html" role="button">
            Cộng đồng
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link @@if(page=='lien-he.html'){active}" href="lien-he.html" role="button">
            Liên hệ
          </a>
        </li>
      </ul>

    </div>

    <!-- User -->
    <div class="navbar-user order-3">

      <!-- modal -->
      <div class="mr-2 d-lg-flex">

        <!-- Toggle -->
        <button href="#modalShoppingBag" class="navbar-user-link btn btn-rounded-circle " role="button"
          data-toggle="modal" aria-haspopup="true" aria-expanded="false">
          <!-- <span class="icon active">
            <i class="fe fe-bell"></i>
          </span> -->
          <!-- <span class="icon "> -->
          <img src="@@webRoot/assets/img/icons/bag.svg" alt="..." class="">
          <!-- </span> -->
          <!-- <span class="badge badge-light">9</span> -->
        </button>
      </div>

      <!-- Dropdown -->
      <div class="dropdown ">

        <!-- Toggle -->
        <button href="#" class="btn btn-success btn-rounded-circle dropdown-toggle" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <span class="icon middle-icon mt-n1">
            <img src="@@webRoot/assets/img/icons/user.svg" alt="..." class="">
          </span>
        </button>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="@@webRoot/tai-khoan.html" class="dropdown-item">Tài khoản</a>
          <hr class="dropdown-divider">
          <a href="@@webRoot/login.html" class="dropdown-item">Đăng xuất</a>
        </div>

      </div>

    </div>

  </div> <!-- / .container -->
</nav>