.pHome {
    // section-banner
    .banner {
        .carousel-indicators {
            bottom: 15%;
        }
        .slide-title {
            margin-bottom: 40px;
        }
    }
    // section-banner

    // section-news
    .news {
       
    } // section-news
    
    .intro-brand {
        > * {
            z-index: 3;
        }
        &:before {
            background-image: url("#{$path-to-img}/backgrounds/pattern-1.png");
            background-size: 100vw auto;
            background-position: top center;
            z-index: 2;
        }
    }
}
