.pLogin {
  .heading {
    margin-bottom: 3.375rem;
  }
  .cross {
    margin-bottom: 1.3rem;

    hr {
      flex: 1;
    }

    h5 {
      margin: 0 1.5rem;
      align-self: center;
    }
  }

  .button-group {
    margin-bottom: 2.875rem;
  }

  .ele-1 {
    right: 0;
    top: 0;
    transform: translate(22.5%, 12%);
  }

  @media all and (max-width: 767px) {
    .ele-1 {
      display: none !important;
    }
    .heading {
      white-space: unset!important;
    }

    .button-group {
      margin-bottom: 0;

      button {
        margin-bottom: 20px;
      }
    }
  }
}
