.pNewsDetail {
  .detail {
    padding-top: 4rem;
    padding-bottom: 4.5rem;

    &::after {
      width: 300vw;
    }
  } // section.detail

  .detail-wrap {
    .news-type {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .news-title {
      font-size: 1.5rem;
      margin-bottom: 1.4rem;
    }
  }
  .content {
    margin-bottom: 1.9rem;
    img {
      margin-bottom: 1.25rem;
      height: auto!important;
    }
  }

  .social {
    margin-bottom: 2.5rem;
  }

  .hot-news {
    padding: 2.5rem 2.8rem;
    .list {
      padding-left: 0;
      list-style-position: inside;

      .hot-news-item {
        border-top: 1px solid $green-light-2;
        padding-top: 10px;
      }
    }
    .hot-news-item {
      position: relative;
      margin-bottom: 13px;

      img {
        margin-bottom: 14px;
      }

      a {
        color: white;
        top: 0;
        &:hover {
          color: $green-light;
        }
      }
    }
  }

  .btn-social {
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 30px;
    padding: 0.17rem 0;
    margin: 0 7.5px;
    &.facebook {
      background-color: $color-facebook;
    }
    &.google {
      background-color: $color-google;
    }
    &.linkedin {
      background-color: $color-linkedin;
    }
  }

  .related-list {
    margin-right: -8px;
    margin-left: -8px;
    div[class*="col"] {
      padding-right: 8px;
      padding-left: 8px;
    }
    hr {
      margin-top: 0.7rem;
      margin-bottom: 1.6rem;
    }
    .news-hor {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      margin-bottom: 2.1rem;
    }
    .news-fig {
      display: inline-block;
      flex: 0 0 32%;
      margin-right: 1.25rem;
    }
    .news-content {
      display: inline-block;
      max-height: 100%;
      overflow-y: hidden;
    }
  }

  @media all and (max-width: 768px) {
    .hot-news {
      margin-bottom: 2.5rem;
    }
    .site-pagination {
      display: flex;
    }
  }
  @media all and (max-width: 767px) {
    .detail {
      &:after {
        width: 3000px;
      }
    }
  }
}
