.pProductDetail {
    .banner {
        .copy {
            margin-bottom: 3.5625rem;
        }

        form {
            h4 {
                margin-bottom: 0.8rem;
            }
        }

        .group-large {
            margin-top: 1.875rem;
        }
        .btn-group-toggle {
            margin-bottom: 0.9rem;
        }
    } // section.banner

    .cores {
        padding-top: 10rem;
        padding-bottom: 14rem;
        
        .cores-title {
            margin-bottom: 3.5625rem;
        }
        
        .core-row {
            margin-bottom: 3.8rem;
        }
        .core-img {
            max-width: 90%;
        }
        .core-title {
            font-size: 1.5rem;
            margin-bottom: 1.875rem;
        }
    } // section.cores
    
    .news {
        
        padding-bottom: 4.56rem;
    } // section.news
}
