.pProduct {
  .technology {
    padding-top: 5.2rem;

    .technology-item {
      position: relative;
    }
  } // section.technology

  .product-odd {
    position: relative;

    .ele {
      right: 0;
      bottom: 50%;
      transform: translate(22.5%, 50%);
      z-index: 2;
    }
  }

  @media all and (max-width: 768px) {
    .banner {
      .img-cover {
        background-position: center right 45%;
      }
    }
    .product-even {
      .copy {
        margin-top: 3rem;
      }
    }
    .product-odd {
      .img-cover {
        background-position: center right 45%;
      }
      .ele {
        bottom: 0;
        transform: translate(22.5%, 20%);
      }
    }
  }

  @media all and (max-width: 767px) {
    .banner {
      background-color: $white;
      .d-flex {
        flex-direction: column;
        justify-content: space-between;
      }
      .img-cover {
        position: relative !important;
        height: 50% !important;
        background-size: 100% auto;
        background-position: top right 45%;
      }
      .container {
        padding-top: 2.4rem;
        padding-bottom: 2.4rem;
      }
    }
    .product-even {
      background-color: $green-light-2;

      .d-flex {
        flex-direction: column;
        justify-content: flex-end;
      }
      .copy {
        margin-bottom: 2.4rem;
      }
      p.text-white {
        color: $black !important;
      }
      .curve-fig {
        background-position: top center;
      }
    }
    .product-odd {
      background-color: $green-light-2;

      .d-flex {
        flex-direction: column;
        justify-content: flex-end;
      }
      .img-cover {
        position: relative !important;
        background-position: center left 15%;
      }
      .container {
        padding-top: 2rem;
        padding-bottom: 2rem;
      }
      .ele {
        width: 20%;
      }
    }

    .section-technology {
      .technology-item {
        margin-bottom: 3rem;
      }
    }
  }

  @media all and (max-width: 320px) {
    .banner {
      height: auto !important;
      .img-cover {
        height: 30vh !important;
      }
    }
    .product-even {
      height: auto !important;

      .curve-fig {
        position: relative;
        width: auto;
        height: 30vh;
        border-radius: 0;
      }
      .d-flex {
        height: auto !important;
      }
    }
  }
}
