.pProductDetail {
  .banner {
    .copy {
      margin-bottom: 3.5625rem;
    }

    form {
      h4 {
        margin-bottom: 0.8rem;
      }
    }

    .group-large {
      margin-top: 1.875rem;
    }
    .btn-group-toggle {
      margin-bottom: 0.9rem;
    }
  } // section.banner

  .cores {
    background-color: $green-light-2;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 14rem;

    .cores-title {
      margin-bottom: 3.5625rem;
    }

    .core-row {
      margin-bottom: 3.8rem;
    }
    .core-img {
      max-width: 90%;
    }
    .core-title {
      font-size: 1.5rem;
      margin-bottom: 1.875rem;
    }

    .row--3 {
      .core-img {
        position: relative;
        z-index: 2;
      }
    }

    .ele {
      right: 0;
      top: 9rem;
      transform: translate(22.5%, 0);
      z-index: 2;
    }

    .ele-2 {
      right: unset;
      top: 0;
      left: 0;
      transform: translate(-58%, -24.5%);
      z-index: 1;
    }
  } // section.cores

  .news {
    padding-bottom: 4.56rem;
  } // section.news

  + .main-footer {
    // quick-buy
    padding-bottom: 100px;
  }
  
  @media all and (max-width: 1366px) {
    .intro {
      .img-cover {
        background-size: auto 100%;
      }
    }
  }

  @media all and (max-width: 768px) {
    .banner {
      .img-cover {
        background-position: center right 45%;
      }
    }

    .intro {
      padding: 2.4rem 0;
      .d-flex {
        flex-direction: column;
      }
      .img-cover {
        position: relative !important;
        height: 30%;
        flex: 1 0 30%;
        width: 100%;
        border-radius: unset;
        left: unset;
        background-position: center;
      }
      .container {
        padding-top: 2.4rem;
      }
      .ml-md-5 {
        margin-left: 0 !important;
      }
    }

    .cores {
      padding-top: 6rem;
      padding-bottom: 3rem;
      .ele {
        width: 20%;
      }
    }
  }
  @media all and (max-width: 767px) {
    .banner {
      height: auto;
      background-color: $white;
      .d-flex {
        flex-direction: column;
      }
      .img-cover {
        position: relative !important;
        padding-top: 128%;
        background-position: center left 10%;
      }
      .copy {
        padding-top: 2.5rem;
      }
    }

    .intro {
      height: auto !important;
      .img-cover {
        background-size: 100% auto;
        padding-top: 100%;
      }
    }

    .cores {
      background-color: $green-light-2 !important;
      padding-top: 2.4rem;
      padding-bottom: 1px;

      .core-row {
        // flex-direction: column-reverse;
        .col-md-5 {
          order: 1;
        }
      }
      .core-img {
        max-width: 100%;
      }
      .ele {
        top: 0;
      }
    }
    + .main-footer {
      // quick-buy
      padding-bottom: 1.6rem;
    }
  }
}
