.pStory {
  .banner {
    .container {
      flex: 0 0 40%;
    }
  } // section.banner

  .intro-message {
    position: relative;

    .decor-img {
      bottom: -6%;
      left: 50%;
      transform: translateX(-50%);
      width: 115%;
      height: 75%;
    }

    > * {
      z-index: 3;
    }
    &:before {
      background-image: url("#{$path-to-img}/backgrounds/pattern-1.png");
      background-size: 100vw auto;
      background-position: top center;
      z-index: 2;
    }

    .ele {
      right: 0;
      bottom: 0;
      transform: translate(22.5%, 30%);
      z-index: 2;
    }
  } // secion.intro-message

  .intro-factory {
    padding-top: 1.25rem;

    .size-high {
      font-size: 5rem;
      font-weight: 700;
    }
  } // secion.intro-factory

  .technology {
    .title {
      margin-bottom: 2rem;
    }
    .technology-fig {
      margin-bottom: 1.5rem;
    }
    .list {
      // margin-right: -28px;
      // margin-left: -28px;

      div[class*="col"] {
        // padding-right: 28px;
        // padding-left: 28px;
      }
    }
    .technology-item {
      position: relative;
    }
  } // secion.technology

  @media all and (max-width: 768px) {
    .banner {
      > .d-flex {
        justify-content: end !important;
      }
      .container {
        flex: 0 0 30%;
      }
    }
  }
  @media all and (max-width: 767px) {
    .banner {
      .slide-title {
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 1.25rem;
      }
    }

    .intro-message {
      padding-top: 3.5rem;
      padding-bottom: 2.4rem;

      .img-cover {
        position: relative;
        width: 80% !important;
        margin: 0 auto;
        overflow: visible;
      }

      .ele {
        width: 20%;
        bottom: -5%;
      }
    }

    .intro-factory {
      background-color: $green-light-2 !important;
      padding-top: 2.5rem;
      padding-bottom: 2.4rem;

      .col-12 {
        &:first-of-type {
          order: 1;
        }
      }
    }

    .section-technology {
      padding-top: 3.5rem;

      .title {
        text-align: left !important;
      }

      .technology-item {
        padding: 13px;
        margin-bottom: 2.4rem;
      }
    }
  }
  @media all and (max-width: 768px) {
  }
}
