.pThankyou {
  .container {
    .ele {
      margin-bottom: 0.6rem;
      .circle {
        top: -12%;
        width: 40%;
      }
    }
  }

  .border {
    padding: 3.2rem 3rem;
  }
  .heading {
    font-size: 1.5rem;
  }
  .sub {
    margin-bottom: 1.9rem;
  }

  table {
    margin-bottom: 2rem;
    th {
      text-align: left;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    td {
      text-align: right;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  .button-group {
    width: 70%;

    .col-md-6 {
      margin-bottom: 1.25rem;
    }
  }

  .ele-1 {
    right: 0;
    top: 0;
    transform: translate(22.5%, 19%);
  }

  @media all and (max-width: 768px) {
    .col-12.col-md-7 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .ele-1 {
      max-width: 20%;
    }
  }
  @media all and (max-width: 767px) {
    .border {
      padding: 3.2rem 1rem;
    }
    .container {
      .ele {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  @media all and (max-width: 320px) {
    .border {
      padding: 3.2rem 0;
    }
  }
}
