<!doctype html>
<html lang="en">

<head>
    @@include("partials/head.html", {
    "title": "Dummy"
    })
</head>

<body>

    <!-- MODALS
    ================================================== -->
    @@include("partials/modals.html")

    <!-- NAVIGATION
    ================================================== -->

    @@if (navPosition == 'topnav' || demoMode) {
    @@include("partials/topnav.html", {
    "category": "dashboards",
    "subcategory": "",
    "page": "index.html"
    })
    }

    <!-- MAIN CONTENT
    ================================================== -->
    <div class="main-content">

        @@if (navPosition == 'combo' || demoMode) {
        @@include("partials/topbar.html")
        }

    </div> <!-- / .main-content -->

    <!-- JAVASCRIPT
    ================================================== -->
    @@include("partials/scripts.html")

</body>

</html>